<template>
  <footer class="footer-area">
    <div class="main-footer-area">
      <div class="container">
        <div class="row">
          <footer-widget-area></footer-widget-area>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import FooterWidgetArea from "@/app/workspace/base/components/footer/widget_area/FooterWidgetArea";
export default {
  name: "FooterArea",
  components: {FooterWidgetArea}
}
</script>

<style scoped>

</style>