<template>
  <div class="bottom-footer-area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <p>
                  <a href="#">
                    Copyright &copy;
<!--                    <script>document.write(new Date().getFullYear());</script>-->
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i>by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                  </a>
                </p>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BottomFooterArea"
}
</script>

<style scoped>

</style>