<template>
<div v-for="(event,index) in events" :key="index" class="viral-story-blog-post section-padding-0-50">
  <!-- Catagory Featured Post -->
  <div class="catagory-featured-post section-padding-100">
      <div class="container">
          <div class="row">
              <!-- Catagory Thumbnail -->
              <div class="col-12 col-md-7">
                  <div class="cata-thumbnail">
                    <router-link :to="{name: 'event-deteil', params: {id: event.id}}">
                        <img :src="event.poster" alt="">
                    </router-link>
                  </div>
              </div>
              <!-- Catagory Content -->
              <div class="col-12 col-md-5">
                  <div class="cata-content">
                      <button v-on:click="AddLike(event.id)" class="post-catagory">Нравится</button>
                      <img class="like-icon" src="img/core-img/like.png" /> <span class="like-text">{{event.like}}</span>
                    <router-link :to="{name: 'event-deteil', params: {id: event.id}}"><h2>{{event.name}}</h2></router-link>
                      <div class="post-meta">
                          <p class="post-author">Создатель мероприятия: <a href="#">{{event.author_event}}</a></p>
                          <p class="post-date">{{event.created_at}}</p>
                      </div>
                    <p class="participants">Участники: {{event.participants}}/{{event.maximum_number_participants}}</p>

                      <p class="post-excerp">{{event.description.slice(0, 300)}}<span v-if="event.description.length>300">....</span>

                          <router-link v-if="event.description.length>300" :to="{name: 'event-deteil', params: {id: event.id}}">
                    <span class="read_more">Читать далее</span>

                    </router-link>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <hr class="hr-event">
</div>
</template>

<script>
import axios from "axios";

export default {
  name: "EventList",
  props: ['id', 'apiPath'],
  data() {
    return {
        events: [],
      }
  },
  mounted() {
    axios
        .get(this.apiPath)
        .then(
            response => this.events = response.data
        )
        .catch(() => {console.log('При отправке данных произошла ошибка')
          })
  },
  methods:{
    AddLike: function (id){
      axios
        .get(`${this.apiPath}${id}/add_like/`)
        .then(response => this.events.find(item => item.id == id)['like'] = response.data.like)
        .catch(() => {console.log('При отправке данных произошла ошибка')
          })
    },
  }
}
</script>

<style scoped>
.like-icon{
  padding-left: 6px;
  margin-top: -3px;
}
.like-text{
  padding-left: 3px;
}
.participants{
  color:black;
  font-weight: 600;
  margin-top: -15px;
}
.read_more{
  margin-left: 15px;
  font-weight: 600;
  color: cornflowerblue;
  font-size: 15px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  transition: 0.3s linear;
}
button:active, button:focus {
outline: none !important;
}
</style>