<template>
  <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                          <div class="single-blog-post-details">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img :src="event.poster" alt="">
                            </div>
                            <!-- Post Data -->
                            <div class="post-data mb-70">
                              <button v-on:click="AddLike" class="post-catagory">Нравится</button>
                              <img class="like-icon" src="img/core-img/like.png" /> <span class="like-text">{{event.like}}</span>
                              <h2 class="post-title">{{event.name}}</h2>
                              <div class="post-meta">
                                    <!-- Post Details Meta Data -->
                                    <div class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                        <!-- Post Author & Date -->
                                        <div class="post-authors-date">
                                            <p class="post-author">Создатель мероприятия <a href="#">{{event.author_event}}</a></p>
                                            <p class="post-date">{{event.created_at}}</p>
                                        </div>
                                        <!-- View Comments -->
                                        <div class="view-comments">
                                            <p class="views">Просмотров: 1281</p>
                                            <a href="#comments" class="comments">Вопросы/Обсуждение: 3</a>
                                        </div>
                                    </div>
                                    <p>{{event.description}}</p>
                                </div>
                            </div>
                            <!-- Single Questions Area -->
                            <div class="single-questions-area mb-70">
                                <h3 class="mb-70">01. Choose the corect name of this location</h3>

                                <div class="questions-thumb">
                                    <img src="" alt="">
                                </div>

                                <div class="questions-options">
                                    <!-- Single Option -->
                                    <input type="radio" id="radio9" name="radio3" value="The Atlantic Ocean">
                                    <label for="radio9">The Atlantic Ocean</label>

                                    <!-- Single Option -->
                                    <input type="radio" id="radio10" name="radio3" checked value="San Francisco Bridge">
                                    <label for="radio10">San Francisco Bridge</label>

                                    <!-- Single Option -->
                                    <input type="radio" id="radio11" name="radio3" value="Rocky Mountains">
                                    <label for="radio11">Rocky Mountains</label>

                                    <!-- Single Option -->
                                    <input type="radio" id="radio12" name="radio3" value="New York">
                                    <label for="radio12">New York</label>
                                </div>
                            </div>

                            <!-- Login with Facebook to post comments -->
                            <div class="login-with-facebook my-5">
                                <a href="#">Отправить</a> <a href="#">Создать опрос</a>
                            </div>

                           </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</template>

<script>
import axios from "axios";

export default {
  name: "EventDetail",
  props: ['id', 'apiPath'],
  data() {
    return {
        event: [],
      }
  },
  mounted() {
    axios
        .get(this.apiPath)
        .then(response => this.event = response.data)
        .catch(() => {console.log('При отправке данных произошла ошибка')
          })
    console.log('sdf')
  },
  methods:{
    AddLike: function (){
      axios
        .get(`${this.apiPath}add_like/`)
        .then(response => this.event['like'] = response.data.like)
        .catch(() => {console.log('При отправке данных произошла ошибка')
          })
    },
  }

}
</script>

<style scoped>
.login-with-facebook{
  color: indianred;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  transition: 0.3s linear;
  cursor:pointer;
}
button:active, button:focus {
outline: none !important;
}
</style>