<template>
  <header class="header-area">
    <top-header-area></top-header-area>
    <navbar-area></navbar-area>
  </header>
</template>

<script>
import TopHeaderArea from "@/app/workspace/base/components/header/top_header_area/TopHeaderArea";
import NavbarArea from "@/app/workspace/base/components/header/nav_bar/NavbarArea";
export default {
  name: "HeaderArea",
  components: {NavbarArea, TopHeaderArea}
}
</script>

<style scoped>

</style>