<template>
  <div class="top-breaking-news-area">
    <div id="breakingNewsTicker" class="ticker">
      <ul>
        <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        <li><a href="#">Welcome to Colorlib Family.</a></li>
        <li><a href="#">Nam eu metus sitsit amet, consec!</a></li>
      </ul>
    </div>
  </div>
  <social-info-area></social-info-area>
</template>

<script>
import SocialInfoArea from "@/app/workspace/base/components/header/top_header_area/SocialInfoArea";
export default {
  name: "BreakingNewsArea",
  components: {SocialInfoArea}
}
</script>

<style scoped>

</style>