<template>
  <div class="top-social-info-area">
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
</template>

<script>
export default {
  name: "SocialInfoArea"
}
</script>

<style scoped>

</style>