<template>
  <div class="top-header-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="top-header-content d-flex align-items-center justify-content-between">
                <breaking-news-area></breaking-news-area>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreakingNewsArea from "@/app/workspace/base/components/header/top_header_area/BreakingNewsArea";
export default {
  name: "TopHeaderArea",
  components: {BreakingNewsArea}
}
</script>

<style scoped>

</style>