<template>
  <header-area></header-area>
  <breadcumb-area></breadcumb-area>
  <footer-area></footer-area>
</template>

<script>
import HeaderArea from "@/app/workspace/base/components/header/HeaderArea";
import FooterArea from "@/app/workspace/base/components/footer/FooterArea";
import BreadcumbArea from "@/app/workspace/base/components/body/BreadcumbArea";
export default {
  components: {BreadcumbArea, FooterArea, HeaderArea}
}
</script>