<template>
  <div class="col-12 col-md-6 col-lg-4">
      <div class="footer-widget-area">
          <!-- Footer Logo -->
          <div class="footer-logo">
              <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
          </div>
          <!-- Footer Nav -->
          <div class="footer-nav">
              <ul>
                  <li class="active"><a href="#">Top 10</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Funny</a></li>
                  <li><a href="#">Advertising</a></li>
                  <li><a href="#">Celebs</a></li>
                  <li><a href="#">Lifestyle</a></li>
                  <li><a href="#">Videos</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Submit a video</a></li>
                  <li><a href="#">Don’tMiss</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "FooterNav"
}
</script>

<style scoped>

</style>