<template>
  <footer-nav></footer-nav>
  <newsletter-widget></newsletter-widget>
  <single-latest-post></single-latest-post>
  <bottom-footer-area></bottom-footer-area>
</template>

<script>
import NewsletterWidget from "@/app/workspace/base/components/footer/widget_area/NewsletterWidget";
import BottomFooterArea from "@/app/workspace/base/components/footer/bottom_footer/BottomFooterArea";
import FooterNav from "@/app/workspace/base/components/footer/widget_area/FooterNav";
import SingleLatestPost from "@/app/workspace/base/components/footer/widget_area/SingleLatestPost";
export default {
  name: "FooterWidgetArea",
  components: {SingleLatestPost, FooterNav, BottomFooterArea, NewsletterWidget}
}
</script>

<style scoped>

</style>