<template>
  <div class="col-12 col-md-6 col-lg-4">
    <!-- Newsletter Widget -->
    <div class="newsletter-widget">
        <h4>Sign up to <br>our newsletter</h4>
        <form action="#" method="post">
            <input type="text" name="text" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <button type="submit" class="btn w-100">Subscribe</button>
        </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewsletterWidget"
}
</script>

<style scoped>

</style>