<template>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="footer-widget-area">
        <!-- Widget Title -->
        <h4 class="widget-title">Интересные мероприятия</h4>

        <!-- Single Latest Post -->
        <div class="single-blog-post style-2 d-flex align-items-center">
            <div class="post-thumb">
                <a href="#"><img src="img/bg-img/4.jpg" alt=""></a>
            </div>
            <div class="post-data">
                <a href="#" class="post-title">
                    <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                </a>
                <div class="post-meta">
                    <p class="post-date"><a href="#">7:00 AM | April 14</a></p>
                </div>
            </div>
        </div>

        <!-- Single Latest Post -->
        <div class="single-blog-post style-2 d-flex align-items-center">
            <div class="post-thumb">
                <a href="#"><img src="img/bg-img/5.jpg" alt=""></a>
            </div>
            <div class="post-data">
                <a href="#" class="post-title">
                    <h6>Sed a elit euismod augue semper congue sit amet ac.</h6>
                </a>
                <div class="post-meta">
                    <p class="post-date"><a href="#">7:00 AM | April 14</a></p>
                </div>
            </div>
        </div>

        <!-- Single Latest Post -->
        <div class="single-blog-post style-2 d-flex align-items-center">
            <div class="post-thumb">
                <a href="#"><img src="img/bg-img/6.jpg" alt=""></a>
            </div>
            <div class="post-data">
                <a href="#" class="post-title">
                    <h6>Pellentesque mattis arcu massa, nec fringilla turpis eleifend id.</h6>
                </a>
                <div class="post-meta">
                    <p class="post-date"><a href="#">7:00 AM | April 14</a></p>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SingleLatestPost"
}
</script>

<style scoped>

</style>