/* [Master Stylesheet]
- Template Name: Viral Story - Viral News Magazine Template
- Template Author: Colorlib
- Template URL: http://colorlib.com
- Version: 1.0.0 */
/* ###### Index of Stylesheet ######
:: 1.0 Import Fonts
:: 2.0 Import All CSS
:: 3.0 Base CSS
:: 4.0 Header Area
:: 5.0 Hero Area
:: 6.0 Welcome Slides Area
:: 7.0 Blog Post Area
:: 8.0 Footer Area
:: 9.0 Contact Area */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/owl.carousel.min.css);
@import url(css/animate.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/classy-nav.min.css);
@import url(css/nice-select.min.css);
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #152535;
  line-height: 1.3;
  font-weight: 700; }

p {
  color: #656565;
  font-size: 14px;
  line-height: 2;
  font-weight: 400; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #231f1f;
  font-weight: 500;
  font-size: 14px;
  color: #656565; }

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* Spacing */
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

/* Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

/* Section Padding */
.section-padding-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.section-padding-50-0 {
  padding-top: 50px;
  padding-bottom: 0; }

.section-padding-0-50 {
  padding-top: 0;
  padding-bottom: 50px; }

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

/* Miscellaneous */
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-transparent {
  background-color: transparent !important; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(2, 3, 28, 0.9);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent; }

/* ScrollUp */
#scrollUp {
  background-color: #e20378;
  border-radius: 0;
  bottom: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  right: 60px;
  text-align: center;
  width: 40px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
  #scrollUp:hover {
    background-color: #000000; }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      bottom: 30px;
      right: 30px; } }

/* Button */
.viral-btn {
  display: inline-block;
  min-width: 150px;
  height: 52px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 52px;
  font-weight: 700;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: uppercase;
  background: #e30a73;
  background: -webkit-linear-gradient(to right, #e30a73, #feae04);
  background: linear-gradient(to right, #e30a73, #feae04); }
  .viral-btn.active, .viral-btn:hover, .viral-btn:focus {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04); }

.add-post-btn {
  display: inline-block;
  min-width: 150px;
  height: 52px;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 14px !important;
  line-height: 52px;
  font-weight: 700 !important;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: uppercase;
  background: #e30a73;
  background: -webkit-linear-gradient(to right, #e30a73, #feae04);
  background: linear-gradient(to right, #e30a73, #feae04); }
  .add-post-btn.active, .add-post-btn:hover, .add-post-btn:focus {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04); }

/* :: 4.0 Header Area */
.header-area {
  position: relative;
  z-index: 100;
  width: 100%;
  /* Search Form Area */ }
  .header-area .top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #dedede; }
    .header-area .top-header-area .top-header-content {
      position: relative;
      z-index: 1;
      height: 48px; }
      .header-area .top-header-area .top-header-content .top-breaking-news-area {
        position: relative;
        z-index: 1;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        min-width: 70%;
        width: 70%; }
        .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker {
          width: 100%;
          text-align: left;
          position: relative;
          overflow: hidden; }
          .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul {
            width: 100%;
            position: relative;
            z-index: 1; }
            .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li {
              display: none;
              width: 100%; }
              .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a {
                display: block;
                font-size: 12px;
                color: #656565;
                height: 38px;
                line-height: 38px; }
                .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a:hover, .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a:focus {
                  color: #e20378; }
      .header-area .top-header-area .top-header-content .top-social-info-area {
        position: relative;
        z-index: 1; }
        .header-area .top-header-area .top-header-content .top-social-info-area a {
          display: inline-block;
          padding: 0 12px;
          font-size: 14px;
          color: #b0b0b0; }
          @media only screen and (max-width: 767px) {
            .header-area .top-header-area .top-header-content .top-social-info-area a {
              padding: 0 3px; } }
          .header-area .top-header-area .top-header-content .top-social-info-area a:hover, .header-area .top-header-area .top-header-content .top-social-info-area a:focus {
            color: #e20378; }
  .header-area .viral-news-main-menu {
    position: relative;
    width: 100%;
    z-index: 100;
    height: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .viral-news-main-menu {
        height: 80px; } }
    @media only screen and (max-width: 767px) {
      .header-area .viral-news-main-menu {
        height: 70px; } }
    .header-area .viral-news-main-menu .classy-nav-container {
      background-color: transparent; }
    .header-area .viral-news-main-menu .classy-navbar {
      height: 100px;
      padding: 0; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .viral-news-main-menu .classy-navbar {
          height: 80px; } }
      @media only screen and (max-width: 767px) {
        .header-area .viral-news-main-menu .classy-navbar {
          height: 70px; } }
      .header-area .viral-news-main-menu .classy-navbar .classynav ul li a {
        font-weight: 700; }
        .header-area .viral-news-main-menu .classy-navbar .classynav ul li a:hover, .header-area .viral-news-main-menu .classy-navbar .classynav ul li a:focus {
          color: #e20378;
          font-weight: 700; }
      .header-area .viral-news-main-menu .classy-navbar .classynav ul li.active a {
        color: #e20378; }
      .header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a {
        text-transform: uppercase;
        padding: 12px 12px 11px;
        background-color: transparent;
        line-height: 1;
        color: #231f1f;
        font-weight: 700; }
        .header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a:hover, .header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a:focus {
          color: #e20378; }
    .header-area .viral-news-main-menu .search-btn {
      padding: 15px 40px;
      display: block;
      cursor: pointer;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .header-area .viral-news-main-menu .search-btn:hover, .header-area .viral-news-main-menu .search-btn:focus {
        color: #e20378; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .viral-news-main-menu .search-btn {
          padding: 15px 20px; } }
  .header-area .viral-search-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
    z-index: 30000;
    top: 150px;
    left: 0;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transform: scale(0.9) translate3d(0, 0, 0);
    transform: scale(0.9) translate3d(0, 0, 0);
    opacity: 0;
    visibility: hidden; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .viral-search-form {
        top: 130px; } }
    @media only screen and (max-width: 767px) {
      .header-area .viral-search-form {
        top: 120px; } }
    .header-area .viral-search-form form {
      position: absolute;
      z-index: 1;
      width: 100%;
      top: 200px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition-delay: 500ms;
      transition-delay: 500ms;
      -webkit-transition-duration: 700ms;
      transition-duration: 700ms; }
      .header-area .viral-search-form form input {
        width: 90%;
        height: 60px;
        position: absolute;
        left: 5%;
        font-size: 14px;
        color: #231f1f;
        font-weight: 600;
        padding: 0 30px;
        border: none;
        border-radius: 5px; }
      .header-area .viral-search-form form button {
        position: absolute;
        width: 60px;
        height: 60px;
        right: 5%;
        top: 0;
        border: none;
        cursor: pointer;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 0 5px 5px 0; }
        .header-area .viral-search-form form button:hover {
          background-color: #e20378;
          color: #fff; }
    .header-area .viral-search-form.active {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1) translate3d(0, 0, 0);
      transform: scale(1) translate3d(0, 0, 0); }
      .header-area .viral-search-form.active form {
        opacity: 1;
        visibility: visible;
        top: 50px; }
  .header-area .is-sticky #stickyMenu {
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    border-bottom: none; }
    .header-area .is-sticky #stickyMenu .viral-search-form {
      top: 100px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .is-sticky #stickyMenu .viral-search-form {
          top: 80px; } }
      @media only screen and (max-width: 767px) {
        .header-area .is-sticky #stickyMenu .viral-search-form {
          top: 70px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .add-post-button {
    margin-left: 15px; } }
@media only screen and (max-width: 767px) {
  .add-post-button {
    margin-left: 15px; } }

@media only screen and (max-width: 767px) {
  .classy-navbar .nav-brand {
    max-width: 80px; } }

/* :: 5.0 Hero Area */
.hero-area {
  position: relative;
  z-index: 1;
  background-color: #f3f5f8;
  padding-top: 50px;
  border-bottom: 5px solid #e20378; }

/* :: 6.0 Welcome Slides Area */
.welcome-slide-area {
  padding: 60px 0 90px;
  position: relative;
  z-index: 1; }

.single-welcome-slide {
  position: relative;
  z-index: 1; }
  .single-welcome-slide .welcome-post {
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .single-welcome-slide .welcome-post img {
      -webkit-transition-duration: 600ms;
      transition-duration: 600ms; }
    .single-welcome-slide .welcome-post:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .single-welcome-slide .welcome-post .post-content {
      position: absolute;
      width: 80%;
      bottom: 10%;
      left: 10%;
      z-index: 5; }
      .single-welcome-slide .welcome-post .post-content .tag {
        background-color: #e20378;
        width: 88px;
        height: 25px;
        color: #fff;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 15px; }
        .single-welcome-slide .welcome-post .post-content .tag.tag-2 {
          background-color: #6bc045; }
        .single-welcome-slide .welcome-post .post-content .tag.tag-3 {
          background-color: #ee9202; }
        .single-welcome-slide .welcome-post .post-content .tag:hover {
          background-color: #231f1f; }
      .single-welcome-slide .welcome-post .post-content .post-title {
        background-color: #231f1f;
        padding: 0 15px 5px;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        display: inline-block; }
        @media only screen and (max-width: 767px) {
          .single-welcome-slide .welcome-post .post-content .post-title {
            font-size: 18px; } }
        .single-welcome-slide .welcome-post .post-content .post-title:hover {
          color: #e20378; }
      .single-welcome-slide .welcome-post .post-content p {
        font-size: 12px;
        color: #fff;
        margin-bottom: 0;
        font-weight: 600; }
    .single-welcome-slide .welcome-post.style-2 .post-title {
      padding: 0 10px;
      font-size: 18px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .welcome-posts-- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/* :: 7.0 Blog Post Area */
.single-blog-post {
  position: relative;
  z-index: 1; }
  .single-blog-post .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    min-width: 130px;
    width: 130px; }
    .single-blog-post .post-thumb a {
      display: block; }
  .single-blog-post .post-data {
    margin-left: 20px; }
    .single-blog-post .post-data .post-catagory {
      font-size: 14px;
      color: #e20378;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
      display: block; }
    .single-blog-post .post-data .post-title {
      display: block; }
      .single-blog-post .post-data .post-title h6 {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        line-height: 1.8;
        font-size: 14px;
        color: #231f1f; }
        .single-blog-post .post-data .post-title h6:hover, .single-blog-post .post-data .post-title h6:focus {
          color: #e20378; }
    .single-blog-post .post-data .post-meta .post-date {
      margin-bottom: 0; }
      .single-blog-post .post-data .post-meta .post-date a {
        display: block; }
        .single-blog-post .post-data .post-meta .post-date a:hover, .single-blog-post .post-data .post-meta .post-date a:focus {
          color: #e20378; }
    .single-blog-post .post-data .post-meta .post-like {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      -ms-grid-row-align: flex-end;
      align-items: flex-end; }
      .single-blog-post .post-data .post-meta .post-like span {
        line-height: 1;
        margin-left: 15px; }
        .single-blog-post .post-data .post-meta .post-like span:hover, .single-blog-post .post-data .post-meta .post-like span:focus {
          color: #e20378; }
    .single-blog-post .post-data .post-meta .post-comment {
      margin-left: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      -ms-grid-row-align: flex-end;
      align-items: flex-end; }
      .single-blog-post .post-data .post-meta .post-comment span {
        line-height: 1;
        margin-left: 15px; }
        .single-blog-post .post-data .post-meta .post-comment span:hover, .single-blog-post .post-data .post-meta .post-comment span:focus {
          color: #e20378; }
  .single-blog-post.style-2 {
    margin-bottom: 25px; }
    .single-blog-post.style-2:last-of-type {
      margin-bottom: 0; }
    .single-blog-post.style-2 .post-thumb {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
      flex: 0 0 90px;
      min-width: 90px;
      width: 90px; }
    .single-blog-post.style-2 .post-date a {
      font-size: 12px; }
  .single-blog-post.style-3 .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 50px; }
  .single-blog-post.style-3 .post-data {
    margin-left: 0;
    margin-bottom: 40px; }
    .single-blog-post.style-3 .post-data .post-catagory {
      background-color: #e20378;
      width: 88px;
      height: 25px;
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 15px;
      font-weight: 600;
      margin-bottom: 20px; }
      .single-blog-post.style-3 .post-data .post-catagory.cat-2 {
        background-color: #6bc045; }
      .single-blog-post.style-3 .post-data .post-catagory.cat-3 {
        background-color: #ee9202; }
      .single-blog-post.style-3 .post-data .post-catagory.cat-4 {
        background-color: #02aeee; }
      .single-blog-post.style-3 .post-data .post-catagory:hover {
        background-color: #231f1f; }
    .single-blog-post.style-3 .post-data .post-title {
      display: block; }
      .single-blog-post.style-3 .post-data .post-title h6 {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        line-height: 1.5;
        font-size: 24px;
        color: #231f1f; }
        @media only screen and (max-width: 767px) {
          .single-blog-post.style-3 .post-data .post-title h6 {
            font-size: 20px; } }
        .single-blog-post.style-3 .post-data .post-title h6:hover, .single-blog-post.style-3 .post-data .post-title h6:focus {
          color: #e20378; }
    .single-blog-post.style-3 .post-data .post-meta .post-author {
      font-size: 14px;
      color: #656565;
      font-weight: 700;
      margin-bottom: 0; }
      .single-blog-post.style-3 .post-data .post-meta .post-author a {
        color: #231f1f;
        font-weight: 700;
        font-size: 14px; }
    .single-blog-post.style-3 .post-data .post-meta .post-date {
      color: #656565;
      font-size: 12px; }
  @media only screen and (max-width: 767px) {
    .single-blog-post.style-3.style-5 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .single-blog-post.style-3.style-5 .post-data {
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .single-blog-post.style-3.style-5 .post-data {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%; } }
  .single-blog-post.style-3.style-5 .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%;
    width: 50%;
    margin-bottom: 0;
    margin-right: 15px; }
    @media only screen and (max-width: 767px) {
      .single-blog-post.style-3.style-5 .post-thumb {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
        margin-bottom: 50px;
        margin-right: 0; } }
  .single-blog-post.style-4 {
    margin-bottom: 40px; }
    .single-blog-post.style-4:last-child {
      margin-bottom: 0; }
    .single-blog-post.style-4 .post-thumb {
      position: relative;
      z-index: 10;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      min-width: 100%;
      width: 100%;
      margin-bottom: 15px; }
      .single-blog-post.style-4 .post-thumb .serial-number {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        background-color: #e20378;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 42px;
        position: absolute;
        left: 15px;
        top: -21px;
        z-index: 10; }
    .single-blog-post.style-4 .post-data {
      margin-left: 0;
      margin-bottom: 0; }
      .single-blog-post.style-4 .post-data .post-title {
        display: block; }
        .single-blog-post.style-4 .post-data .post-title h6 {
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          line-height: 1.5;
          font-size: 18px;
          color: #231f1f;
          font-weight: 600; }
          .single-blog-post.style-4 .post-data .post-title h6:hover, .single-blog-post.style-4 .post-data .post-title h6:focus {
            color: #e20378; }
      .single-blog-post.style-4 .post-data .post-meta .post-author {
        font-size: 12px;
        color: #656565;
        font-weight: 700;
        margin-bottom: 0; }
        .single-blog-post.style-4 .post-data .post-meta .post-author a {
          color: #231f1f;
          font-weight: 700;
          font-size: 12px; }

.popular-news-widget {
  position: relative;
  z-index: 1;
  background-color: #eff4f9;
  padding: 60px 25px; }
  .popular-news-widget h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #e20378; }
    @media only screen and (max-width: 767px) {
      .popular-news-widget h3 {
        font-size: 24px; } }
  .popular-news-widget .single-popular-post {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .popular-news-widget .single-popular-post h6 {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      line-height: 1.7;
      font-weight: 500; }
      .popular-news-widget .single-popular-post h6 span {
        margin-right: 15px;
        color: #e20378; }
      .popular-news-widget .single-popular-post h6:hover, .popular-news-widget .single-popular-post h6:focus {
        color: #e20378; }
    .popular-news-widget .single-popular-post p {
      margin-bottom: 0;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 700;
      color: #828282;
      margin-left: 30px;
      line-height: 1; }
    .popular-news-widget .single-popular-post:last-child {
      margin-bottom: 0; }

.latest-comments-widget {
  position: relative;
  z-index: 1; }
  .latest-comments-widget h4 {
    margin-bottom: 50px;
    font-weight: 600; }
  .latest-comments-widget .single-comments {
    position: relative;
    z-index: 1;
    margin-bottom: 40px; }
    .latest-comments-widget .single-comments .comments-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 42px;
      flex: 0 0 42px;
      max-width: 42px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin-top: 6px; }
      .latest-comments-widget .single-comments .comments-thumbnail img {
        border-radius: 50%;
        display: block; }
    .latest-comments-widget .single-comments .comments-text {
      margin-left: 15px; }
      .latest-comments-widget .single-comments .comments-text a {
        display: block;
        font-size: 16px;
        color: #231f1f;
        margin-bottom: 10px;
        line-height: 1.9;
        font-weight: 600; }
        .latest-comments-widget .single-comments .comments-text a span {
          color: #e20378; }
        .latest-comments-widget .single-comments .comments-text a:hover, .latest-comments-widget .single-comments .comments-text a:focus {
          color: #e20378; }
      .latest-comments-widget .single-comments .comments-text p {
        margin-bottom: 0;
        font-size: 11px;
        text-transform: uppercase;
        color: #828282;
        line-height: 1; }
    .latest-comments-widget .single-comments:last-child {
      margin-bottom: 0; }

.newsletter-widget {
  position: relative;
  z-index: 1;
  background: #e30a73;
  background: -webkit-linear-gradient(to right, #e30a73, #feae04);
  background: linear-gradient(to right, #e30a73, #feae04);
  padding: 0 25px 35px; }
  .newsletter-widget h4 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 70px 0;
    margin-bottom: 0; }
  .newsletter-widget form input {
    width: 100%;
    height: 52px;
    background-color: #fff;
    font-size: 11px;
    font-style: italic;
    color: #656565;
    margin-bottom: 20px;
    border: none;
    padding: 0 25px;
    border-radius: 5px;
    font-weight: 600; }
  .newsletter-widget form button {
    width: 100%;
    height: 52px;
    background-color: #6bc045;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 0 25px;
    border-radius: 5px; }
    .newsletter-widget form button:hover, .newsletter-widget form button:focus {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      background-color: #fff;
      color: #e20378; }

.viral-news-pagination {
  position: relative;
  z-index: 1;
  margin: 50px 0 40px; }
  .viral-news-pagination .page-link {
    padding: 0 5px;
    font-size: 14px;
    border: none;
    color: #656565;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (max-width: 767px) {
      .viral-news-pagination .page-link {
        font-size: 12px; } }
    .viral-news-pagination .page-link:hover, .viral-news-pagination .page-link:focus {
      color: #ee9202; }
  .viral-news-pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 30px;
    color: #e20378; }
    @media only screen and (max-width: 767px) {
      .viral-news-pagination .page-item:first-child .page-link {
        margin-right: 5px; } }
    .viral-news-pagination .page-item:first-child .page-link:hover, .viral-news-pagination .page-item:first-child .page-link:focus {
      color: #ee9202; }
  .viral-news-pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 30px;
    color: #e20378; }
    @media only screen and (max-width: 767px) {
      .viral-news-pagination .page-item:last-child .page-link {
        margin-left: 5px; } }
    .viral-news-pagination .page-item:last-child .page-link:hover, .viral-news-pagination .page-item:last-child .page-link:focus {
      color: #ee9202; }

.viral-news-breadcumb-area {
  position: relative;
  z-index: 1;
  background-color: #f3f5f8;
  height: 230px;
  border-bottom: 5px solid #e20378; }
  @media only screen and (max-width: 767px) {
    .viral-news-breadcumb-area.section-padding-50 {
      padding-top: 15px;
      padding-bottom: 15px; } }
  .viral-news-breadcumb-area h3 {
    font-size: 30px;
    color: #e20378; }
  .viral-news-breadcumb-area .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent; }
    @media only screen and (max-width: 767px) {
      .viral-news-breadcumb-area .breadcrumb {
        margin-bottom: 30px; } }

.treading-articles-widget {
  position: relative;
  z-index: 1; }
  .treading-articles-widget h4 {
    margin-bottom: 50px;
    font-weight: 600; }

.catagory-featured-post {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .catagory-featured-post .cata-content {
      margin-top: 50px; } }
  .catagory-featured-post .cata-content .post-catagory {
    background-color: #e20378;
    width: 88px;
    height: 25px;
    color: #fff;
    padding: 1px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px; }
    .catagory-featured-post .cata-content .post-catagory.tag-2 {
      background-color: #6bc045; }
    .catagory-featured-post .cata-content .post-catagory.tag-3 {
      background-color: #ee9202; }
    .catagory-featured-post .cata-content .post-catagory:hover {
      background-color: #231f1f; }
  .catagory-featured-post .cata-content h2 {
    font-size: 36px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .catagory-featured-post .cata-content h2 {
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .catagory-featured-post .cata-content h2 {
        font-size: 22px; } }
    .catagory-featured-post .cata-content h2:hover {
      color: #e20378; }
  .catagory-featured-post .cata-content .post-meta .post-author {
    font-size: 14px;
    color: #656565;
    font-weight: 700;
    margin-bottom: 0; }
    .catagory-featured-post .cata-content .post-meta .post-author a {
      color: #231f1f;
      font-weight: 700;
      font-size: 14px; }
  .catagory-featured-post .cata-content .post-meta .post-date {
    color: #656565;
    font-size: 12px; }
  .catagory-featured-post .cata-content .post-excerp {
    color: #656565;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500; }

.single-blog-post-details {
  position: relative;
  z-index: 1; }
  .single-blog-post-details .post-thumb {
    position: relative;
    z-index: 1;
    margin-bottom: 50px; }
  .single-blog-post-details .post-data .post-meta p {
    font-weight: 500; }
  .single-blog-post-details .post-data .post-catagory {
    background-color: #e20378;
    width: 88px;
    height: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15px; }
    .single-blog-post-details .post-data .post-catagory.tag-2 {
      background-color: #6bc045; }
    .single-blog-post-details .post-data .post-catagory.tag-3 {
      background-color: #ee9202; }
    .single-blog-post-details .post-data .post-catagory:hover {
      background-color: #231f1f; }
  .single-blog-post-details .post-data .post-title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-blog-post-details .post-data .post-title {
        font-size: 24px; } }
    @media only screen and (max-width: 767px) {
      .single-blog-post-details .post-data .post-title {
        font-size: 24px; } }
  .single-blog-post-details .post-data .post-author {
    margin-bottom: 0;
    display: block;
    font-size: 14px;
    color: #656565;
    font-weight: 700; }
    .single-blog-post-details .post-data .post-author a {
      font-size: 14px;
      color: #231f1f;
      font-weight: 700; }
  .single-blog-post-details .post-data .post-date {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #656565;
    display: block;
    margin-bottom: 0; }
  .single-blog-post-details .post-data .view-comments .views {
    font-size: 12px;
    color: #656565;
    margin-bottom: 0; }
  .single-blog-post-details .post-data .view-comments .comments {
    font-size: 12px;
    color: #656565;
    display: block;
    text-decoration: underline; }
    .single-blog-post-details .post-data .view-comments .comments:hover {
      color: #e20378; }

.login-with-facebook a {
  display: inline-block;
  padding: 0 90px;
  height: 45px;
  background-color: #dc3545;
  border-radius: 6px;
  line-height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 600; }
  @media only screen and (max-width: 767px) {
    .login-with-facebook a {
      padding: 0 15px;
      font-size: 12px; } }
  .login-with-facebook a:hover, .login-with-facebook a:focus {
    background-color: #e20378; }

.single-questions-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .single-questions-area h3 {
      font-size: 24px; } }
  .single-questions-area .questions-thumb {
    margin-bottom: 25px; }
  .single-questions-area input[type=radio] {
    display: none; }
  .single-questions-area input[type="radio"] + label {
    padding-left: 60px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #f3f5f8;
    margin-bottom: 25px;
    border-radius: 3px;
    line-height: 55px;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms; }
  .single-questions-area input[type=radio] + label:before {
    content: '';
    position: absolute;
    left: 25px;
    top: 50%;
    width: 23px;
    height: 23px;
    border: 2px solid #ccd2dc;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .single-questions-area input[type=radio]:checked + label:before {
    content: '';
    background-color: #e20378;
    border: 9px solid #fff; }
  .single-questions-area input[type=radio]:checked + label {
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
    color: #fff; }

.comment_area .title {
  color: #231f1f; }
.comment_area .comment-content .comment-author {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 72px;
  flex: 0 0 72px;
  min-width: 72px;
  margin-right: 30px;
  height: 72px;
  border-radius: 5px; }
  .comment_area .comment-content .comment-author img {
    border-radius: 5px; }
.comment_area .comment-content .comment-meta {
  margin-bottom: 30px; }
  .comment_area .comment-content .comment-meta .post-author {
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #393939;
    font-weight: 600; }
  .comment_area .comment-content .comment-meta .post-date {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #656565;
    display: block;
    margin-bottom: 15px; }
  .comment_area .comment-content .comment-meta p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 2;
    font-weight: 500; }
.comment_area .single_comment_area {
  margin-bottom: 30px; }
  .comment_area .single_comment_area:last-of-type {
    margin-bottom: 0; }
.comment_area .children .single_comment_area {
  margin-left: 50px;
  margin-top: 30px; }

.post-a-comment-area {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .post-a-comment-area {
      margin-bottom: 100px; } }
  @media only screen and (max-width: 767px) {
    .post-a-comment-area {
      margin-bottom: 100px; } }
  .post-a-comment-area h4 {
    font-size: 24px;
    color: #393939; }

.editors-pick-post-area {
  position: relative;
  z-index: 1;
  background-color: #eff4f9; }

/* :: 8.0 Footer Area */
.footer-area {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #f3f5f8;
  border-top: 5px solid #e20378;
  padding-top: 50px; }
  .footer-area .footer-widget-area {
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .footer-area .footer-widget-area {
        margin-bottom: 40px; } }
    .footer-area .footer-widget-area .footer-logo {
      margin-bottom: 50px; }
    .footer-area .footer-widget-area .widget-title {
      display: block;
      margin: 40px 0;
      font-weight: 600; }
    .footer-area .footer-widget-area .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footer-area .footer-widget-area .footer-nav ul li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        min-width: 50%;
        width: 50%; }
        .footer-area .footer-widget-area .footer-nav ul li a {
          display: block;
          padding: 15px 0;
          font-size: 14px;
          font-weight: 700;
          color: #231f1f; }
          .footer-area .footer-widget-area .footer-nav ul li a:hover, .footer-area .footer-widget-area .footer-nav ul li a:focus {
            color: #e20378; }
  .footer-area .bottom-footer-area {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 65px 0 30px; }
    @media only screen and (max-width: 767px) {
      .footer-area .bottom-footer-area {
        padding: 20px 0 30px; } }
    .footer-area .bottom-footer-area p {
      color: #231f1f;
      margin-bottom: 0;
      font-size: 11px;
      font-weight: 600; }
      .footer-area .bottom-footer-area p a {
        color: #231f1f;
        font-size: 11px;
        font-weight: 600; }
        .footer-area .bottom-footer-area p a:hover, .footer-area .bottom-footer-area p a:focus {
          color: #e20378; }

/* :: 9.0 Contact Area */
.single-contact-information {
  position: relative;
  z-index: 1; }
  .single-contact-information h6 {
    font-size: 14px;
    border-bottom: 2px solid #e20378;
    display: inline-block;
    color: #e20378; }

.contact-form-area .form-control {
  height: 52px;
  width: 100%;
  background-color: #f3f5f8;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
  border: none;
  border-radius: 0;
  padding: 0 20px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 3px solid;
  border-color: transparent;
  font-weight: 500; }
  .contact-form-area .form-control:focus {
    box-shadow: none;
    border-color: #e20378; }
.contact-form-area textarea.form-control {
  height: 200px;
  padding: 15px 20px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }

.contact-area {
  position: relative;
  z-index: 1; }
  .contact-area .contact-title h4 {
    color: #393939;
    margin-bottom: 70px; }

@media only screen and (max-width: 767px) {
  .contact-info-details {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.single-contact {
  position: relative;
  z-index: 1;
  margin-right: 50px; }
  @media only screen and (max-width: 767px) {
    .single-contact {
      margin-right: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 70px; }
      .single-contact:last-child {
        margin-bottom: 0; } }

.google-maps iframe {
  width: 100%;
  height: 680px;
  margin-bottom: 100px;
  border: none; }
  @media only screen and (max-width: 767px) {
    .google-maps iframe {
      height: 500px; } }

/*# sourceMappingURL=style.css.map */
