<template>
  <div class="viral-news-main-menu" id="stickyMenu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="viralnewsNav">
          <!-- Logo -->
          <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo"></a>
          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>
          <!-- Menu -->
          <div class="classy-menu">
            <!-- close btn -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
            </div>
            <nav-start></nav-start>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import NavStart from "@/app/workspace/base/components/header/nav_bar/NavStart";
export default {
  name: "NavbarArea",
  components: {NavStart}
}
</script>

<style scoped>

</style>