<template>
  <div class="classynav">
    <ul>
      <li class="active"><a href="catagory.html">Top 10</a></li>
      <li><a href="#">Pages</a>
          <ul class="dropdown">
              <li><a href="index.html">Home</a></li>
              <li><a href="catagory.html">Catagories</a></li>
              <li><a href="single-post.html">Single Article</a></li>
              <li><a href="quize-article.html">Quize Article</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="#">Dropdown</a>
                  <ul class="dropdown">
                      <li><a href="index.html">Home</a></li>
                      <li><a href="catagory.html">Catagories</a></li>
                      <li><a href="single-post.html">Single Article</a></li>
                      <li><a href="quize-article.html">Quize Article</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </li>
          </ul>
      </li>
      <li><a href="index.html">Funny</a></li>
      <li><a href="index.html">Videos</a></li>
      <li><a href="index.html">Don’t Miss</a></li>
      <li><a href="#">Mega Menu</a>
        <div class="megamenu">
            <ul class="single-mega cn-col-4">
                <li><a href="index.html">Home</a></li>
                <li><a href="catagory.html">Catagories</a></li>
                <li><a href="single-post.html">Single Article</a></li>
                <li><a href="quize-article.html">Quize Article</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="single-mega cn-col-4">
                <li><a href="index.html">Home</a></li>
                <li><a href="catagory.html">Catagories</a></li>
                <li><a href="single-post.html">Single Article</a></li>
                <li><a href="quize-article.html">Quize Article</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="single-mega cn-col-4">
                <li><a href="index.html">Home</a></li>
                <li><a href="catagory.html">Catagories</a></li>
                <li><a href="single-post.html">Single Article</a></li>
                <li><a href="quize-article.html">Quize Article</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <ul class="single-mega cn-col-4">
                <li><a href="index.html">Home</a></li>
                <li><a href="catagory.html">Catagories</a></li>
                <li><a href="single-post.html">Single Article</a></li>
                <li><a href="quize-article.html">Quize Article</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
      </li>
    </ul>

    <!-- Search Button -->
    <div class="search-btn">
        <i id="searchbtn" class="fa fa-search" aria-hidden="true"></i>
    </div>

    <!-- Search Form -->
    <div class="viral-search-form">
        <form id="search" action="#" method="get">
            <input type="text" name="search-terms" placeholder="Enter your keywords ...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <!-- Video Post Button -->
    <div class="add-post-button">
        <a href="#" class="btn add-post-btn">Добавить Мероприятие</a>
    </div>

  </div>
</template>

<script>
export default {
  name: "NavStart"
}
</script>

<style scoped>

</style>