<template>
  <viral-news-breadcumb-area></viral-news-breadcumb-area>
  <router-view :apiPath='apiPath'></router-view>
</template>

<script>
import ViralNewsBreadcumbArea from "@/app/workspace/base/components/body/ViralNewsBreadcumbArea";
export default {
  name: "BreadcumbArea",
  components: {ViralNewsBreadcumbArea},
  props: ['id', 'apiPath'],
  data() {
    return {
        values: [],
      }
  },
  methods() {
    console.log(this.apiPath)
  },
}
</script>

<style scoped>

</style>